.line-chart {
	float: left; width: 100%; display: flex; flex-direction: column;
	height: 100%;
	h2 {
		font-weight: 500; font-size: 24px;
	}
	.chart-inner {
		width: 100%; height: 100%; display: flex;
		justify-content: space-around; margin-top: 20px;
		position: relative;
		.chart-lines {
			position: absolute; top: 10px; left: 0px;
			bottom: 40px; right: 0px;
			div { 
				height: 1px; position: absolute; left: 0px; 
				right: 0px; background: #F6F3FF;
			}
			div:nth-child(1n){ bottom: 0%; }
			div:nth-child(2n){ bottom: 20%; }
			div:nth-child(3n){ bottom: 40%; }
			div:nth-child(4n){ bottom: 60%; }
			div:nth-child(5n){ bottom: 80%; }
			div:nth-child(6n){ bottom: 100%; }
		}
		.chart-item {
			position: relative;
			display: flex; flex-direction: column;
			height: 100%; padding: 6px; border-radius: 6px;
			&.active {
				background: rgba(108, 93, 211, 0.1);
			}
			.item-label {
				color: #b3b3b3; font-size: 12px;
				flex-basis: 30px; padding-top: 12px;
				text-align: center; width: 40px;
				overflow: hidden; text-overflow: ellipsis;
			}
			.item-label-image {
				width: 100%; padding-top: 100%; border-radius: 100%; 
				background-color: #F1F1F5; margin-top: 5px; margin-bottom: -5px;
				background-size: cover; background-repeat: no-repeat;
				background-position: center; min-width: 30px;
			}
			.item-line-outer {
				height: 100%; 
				.lines-wrapper {
					width: 100%; height: 100%; display: flex;
					flex-direction: row; justify-content: center;
					.bar {
						transition: all 0.5s ease; -webkit-transition: all 0.5s ease;
						width: 9px; height: 200px; border-radius: 9px;
						background-color: #F35A63; align-self: flex-end;
						margin: 0 1px; position: relative;
						.bar-value {
							background: #f9f8a6; padding: 6px; position: absolute; 
							font-size: 10px; left: -10px; top: -30px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}