.add-slideshow {
	.upload {
		display: flex; width: 100%;
		float: left; margin-top: 20px;
		.cover-image {
			width: 50%; padding-right: 10px;
		}
		.pdf-upload {
			width: 50%;
		}
	}
	.slideshow-type {
		float: left; width: 100%; display: flex; 
		flex-direction: row; grid-gap: 20px; 
		margin-bottom: 20px; margin-top: 30px;
		.option {
			height: 100px; width: 100%; background: #eff3f7; 
			border-radius: 9px; display: flex; align-items: center; 
			justify-content: center; font-size: 12px; font-weight: 600;
			text-transform: uppercase; cursor: pointer;
			padding-top: 160px; padding-bottom: 30px;
			&.btn-pdf {
				background: #eff3f7 url('./images/pdf.svg') center top 35px no-repeat;
				background-size: 100px;
			}
			&.btn-ai {
				background: #eff3f7 url('./images/ai.svg') center top 35px no-repeat;
				background-size: 100px;
			}
			&:hover {

			}
		}
	}
}