.invite-container {
  background: var(--c-white); border: 0.5px solid var(--c-grey2); box-sizing: border-box; 
  box-shadow: 10px 12px 75px rgba(231, 231, 231, 0.3); border-radius: 24px; 
  padding: 56px 40px 40px; display: flex; flex-flow: column; 
  align-items: center; z-index: 1; text-align: center;
}