:root {
  //COLORS
  //white black
  --c-white: #fff;
  --c-black: #000;

  --c-first-black: #040415;
  --c-sec-black: #222222;

  //greys
  --c-grey1: #E8E8E8;
  --c-grey2: #F1F1F5;
  --c-grey3: #F4F5F6;
  --c-grey4: #B3B9C2;
  --c-grey5: #808191;
  --c-grey6: #747980;
  --c-grey7: #545454;

  //colors
  --c-main-green: #19cfd9;
  --c-main-green-hover: #18B3BC;

  --c-checkboxgreen: #1DBCC5;

  --c-light-green: #7CDF78;
  --c-light-green-hover: #6bbf68;

  --c-dark-blue: #041637;

  //FONTS
  --f-mainfont: "Poppins", "sans-serif";
  --f-secfont: "Inter", "sans-serif";
}
//BLACK COLORS 
//222222 <-- 323232  1F2128

//040415 <-- 171725  221D2B


//GREY COLORS 
//E8E8E8

//F1F1F5 <--  F0F0F1   F4F4F4

//F4F5F6 <--  F8F8F8  FAFAFB  F7F7F8  F8F9FB

//B3B9C2 <--  B3B8BF  BCBCBC

//808191 <--  9899A9

//747980

//545454