.addQuestion {
	.search{
		display: flex;
		justify-content: space-between;
		.search-input {
			min-width: 450px;
		}
		.search-button {
			min-width: 124px;
			height: 54px;
		}
	}
	.questions-container {
		display: flex;
		flex-flow: column;
		.question {
			display: flex;
			align-items: center;
			background-color: #FBFBFB;
			padding: 5px;
			margin: 10px;
			border-radius: 3px;
			.question-text {
				margin-bottom: 0;
			}
			.icon {
				float: left; width: 30px; height: 30px;
				background-position: center; background-repeat: no-repeat;
				&.type-attachment {
					background-image: url('/assets/images/question-types/attachment.svg');
				}
				&.type-date {
					background-image: url('/assets/images/question-types/date.svg');
				}
				&.type-image {
					background-image: url('/assets/images/question-types/image.svg');
				}
				&.type-long {
					background-image: url('/assets/images/question-types/long.svg');
				}
				&.type-multiple {
					background-image: url('/assets/images/question-types/multiple.svg');
				}
				&.type-numeric {
					background-image: url('/assets/images/question-types/numeric.svg');
				}
				&.type-short {
					background-image: url('/assets/images/question-types/short.svg');
				}
				&.type-single {
					background-image: url('/assets/images/question-types/single.svg');
				}
			}
		}
		.active {
			background-color: #EBFEFF;
			border: 1px solid #19CFD9;
		}
	}
	.addQuestion-button{
		margin-top: 15px;
	}
}