.Dropdown-root.small-dropdown {
  padding-top: 15px; display: flex; justify-content: space-between; 
  align-items: center; font-family: var( --f-secfont); font-weight: 600; 
  color: var(--c-grey6); font-size: 10px; background: var( --c-grey3); 
  border-radius: 10px; width: 135px; height: 35px; position: relative;
  .Dropdown-control {
    position: relative; overflow: hidden; background-color: transparent; border-width: 0 !important; 
    box-sizing: border-box; outline: none; padding: 9px 30px 9px 14px; top: -8px; transition: all 200ms ease; 
    width: 100%; cursor: pointer; color: var(--c-grey6); margin-bottom: 0;
    &:hover {
      border-width: 0 !important; box-shadow: none;
    }
    .Dropdown-placeholder {
      font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    }
  }
  .Dropdown-arrow-wrapper{
    position: absolute; top: 9px !important; right: 14px; width: 14px;
    .Dropdown-arrow {
      background: url(./images/arrow.svg) center center no-repeat !important; opacity: 1; 
      height: 14px !important; display: block;
    }
  }
  &.is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .Dropdown-menu {
      background-color: var(--c-white); border: none; box-shadow: none; 
      box-sizing: border-box; margin-top: 1px; max-height: 200px; overflow-y: auto; 
      position: absolute; top: 100%; width: 100%; z-index: 1000; 
      -webkit-overflow-scrolling: touch; margin-left: 0; border-radius: 0 0 10px 10px; 
      box-shadow: 2px 28px 54px rgba(171, 171, 180, 0.180944);
      .Dropdown-option {
        box-sizing: border-box; cursor: pointer; display: block; 
        padding: 10px; font-family: var( --f-secfont); 
        font-weight: 600; font-size: 12px; color: var(--c-grey4);
        &.is-selected {
          color: var(--c-sec-black); background-color: var(--c-grey2);
          .Dropdown-placeholder {
            padding-right: 0;
          }
        }
      }
      .Dropdown-option:hover {
        color: var(--c-grey6); background-color: transparent;
      }
    }
  }
}
.dropdown_lightmode {
  background: var( --c-white);
}
.dropdownS, .dropdownM, .dropdownL, .dropdownLX { 
   height: 31px;
}
.dropdownS {
  width: 100px; margin-right: 10px;
}
.dropdownM {
  width: 110px;
}
.dropdownL {
  width: 120px;
}
.dropdownLX {
  width: 160px;
  margin-right: 10px;
}
.Dropdown-noresults {
  padding: 5px 15px !important;
}
.Dropdown-title {
  background-color: #00B9A5; color: var(--c-white); padding: 5px;
}